<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="SQL Editor">
    <meta name="description" content="SQL Editor">
    <title>Dialog</title>
    <style>
        button {
            margin: 10px;
            outline: none;
        }
        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>

<body>
<div class="box">
    <h3>弹框DOM</h3>

    <!-- 基础弹框 -->
    <button class="baseDialog">基础弹框测试</button>
    <br>

    <!-- 内容居中 -->
    <button class="baseCenterDialog">基础弹框测试(内容居中)</button>
    <br>

    <!-- 不显示头部 -->
    <button class="noHeaderDialog">不显示头部弹框</button>
    <br>

    <!-- 不显示底部 -->
    <button class="noFooterDialog">不显示底部弹框</button>
    <br>

    <!-- 点击空白关闭弹窗 -->
    <button class="clickBlankCloseDialog">点击空白关闭弹窗</button>
    <br>

    <!-- 确认和取消回调 -->
    <button class="comfirmAndCancelCallBack">确认和取消回调</button>
    <br>

</div>

</body>
</html>
